<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-2">
           <a href="{{ url_for('main_page.tests') }}">Tests</a>
        </div>
        <div class="col-md-2">
           <a href="{{ url_for('auth.login') }}">Login</a>
        </div>
        <div class="col-md-2">
           <a href="{{ url_for('auth.register') }}">Register</a>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>