{% extends 'base.html' %}

{% block content %}
    <h1>Tests page</h1>

    <ul>
    {% for test in tests %}
      <li><a href="{{ url_for('main_page.test_description', slug=test['slug']) }}">{{ test.name }}</a>
    {% endfor %}
    </ul>
{% endblock content %}
