{% extends 'base.html' %}

{% block content %}
    <h1>Tests run</h1>
<form action="{{ url_for('main_page.test_end', run_id=test_run.run_id) }}" method="post">
    {% for question_id, question in test.questions.items() %}
        <label for="{{ question_id }}">
            {{ question.text }}
        </label><br>
        {% if question.question_type == 'text' %}
            <input required id="{{ question_id }}" name="{{ question_id }}" type="text"><br>
        {% elif question.question_type == 'select' %}
            {% for answer_id, answer in question.answers.items() %}
                <input type="radio" id="{{ question_id }}" name="{{ question_id }}" value="{{ answer.value }}">{{ answer.value }}<br>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock content %}
