{% extends 'base.html' %}

{% block content %}
    <h1>test page</h1>
<form action="" method="post">
    <p>{{ test.description }}</p>
    <button type="submit">start</button>
</form>
{% endblock content %}
