{% extends 'base.html' %}

{% block content %}
    {% for error_group, error_content in errors.items() %}
        {{ error_group }}:
        {% for error in error_content %}
             {{ error }}<br>
        {% endfor %}
    {% endfor %}
    <form action="" method="POST">
        <input type="text" name="username" id="username"><br>
        <input type="password" name="password" id="password">
        <button type="submit">Submit</button>
    </form>
{% endblock content %}